/* MAIN */

@import "base/variables.scss";
@import "base/mixins.scss";

#index{
    background: $dark;
    background: -moz-linear-gradient(top, $dark 25%, $light 25%);
    background: -webkit-linear-gradient(top, $dark 25%,$light 25%);
    background: linear-gradient(to bottom, $dark 25%,$light 25%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-size: 12px;
}

#about {
    font-size: 14px;
    background-color: #f9f9fb;
}

.bg-dark {
    background-color: $dark !important;
}

.navbar {
   

    #indexNav {
        .nav-item {
            &:last-child {
                .nav-link {
                    padding-right: 0;
                }
            }
        }
    }
}

.jumbotron {
    background: url("/img/header.jpg") no-repeat center center;
    background-size: cover;
    color: $light;
}

.card-img-top {
    height: 40%;
}

.footer-nav {
    background-color: #17191c !important;
}

.light{
    background-color: white !important;
}