/* MAIN */

@import "base/variables.scss";
@import "base/mixins.scss";

body {
    background: $dark;
    background: -moz-linear-gradient(top, $dark 25%, $light 25%);
    background: -webkit-linear-gradient(top, $dark 25%,$light 25%);
    background: linear-gradient(to bottom, $dark 25%,$light 25%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.bg-dark {
    background-color: $dark !important;
}

.navbar {
    padding-left: 0;
    padding-right: 0;

    .navbar-nav {
        .nav-item {
            &:last-child {
                .nav-link {
                    padding-right: 0;
                }
            }
        }
    }
}

.jumbotron {
    background: url("/img/header.jpg") no-repeat center center;
    background-size: cover;
    color: $light;
}